<form method="post">
	<label>Name: </label>
	<intput type="text" name="name" />
	<br />
	<label>Content</label>
	<textarea rows="4" cols="50">Type your conntent here...</textarea>
	<intput type="submit" />
</form>